datapane>=0.16.2
# ./datapane_components-0.0.0-py3-none-any.whl
datapane-components
scikit-learn
scipy
seaborn
matplotlib>=3.2.0
scikit-image
pooch
yfinance
plotly>=5.0.0
duckdb
openai
seaborn>=0.12.0
pytrends>=4.0.0
sh>=2.0.2
